@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&family=Work+Sans:wght@300&display=swap');


p {
  text-decoration: underline red dashed;
  color: blue;
  font-size: 20px;
  font-style: italic;
  font-weight: bolder;
  text-transform: uppercase;
  text-align: justify;
  font-family: "Roboto" sans-serif;
  line-height: 4rem;
  letter-spacing: 20px;
  word-spacing: 10px;
}